
/* ************************ Proyectos ***********************/

.contenedor-proyectos {
    background-color: var(--backgroud-extremos);
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 2rem;
    border-radius: 30px;
    border: 2px solid var(--backgroud-extremos);
}

.proyecto-individual {
    width: 30%;
    aspect-ratio: 1 / 1;
    background-color: var(--segundo-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.img-proyecto {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    margin-bottom: 10px;
    opacity: 0.5;
    border-bottom: 3px solid var(--backgroud-extremos);
    transition-timing-function: ease-in-out;
}

    .img-proyecto:hover {
        opacity: 1;
    }

.nombre-proyecto {
    font-family: var(--fuente-titulos);
    font-size: 1.2rem;
    margin: 1.2rem 0 1.2rem 0;
}

.contenedor-iconos-proyectos {
    display: flex;
    gap: 2.5rem;
}

.logo-proyecto i {
    font-size: 2rem;
    color: var(--backgroud-extremos);
    display: inline-block;
    transition: transform .7s ease-in-out;
}

.logo-proyecto:hover i {
    transform: rotate(360deg);
}
