/************* Seccion Sobre mi ************************/

.seccion-sobremi {
    background-color: var(--segundo-color);
}

.contenedor-sobremi {
    background-color: var(--backgroud-extremos);
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 2rem;
    border-radius: 20px;
    border: 2px solid var(--color-footer);
}

.texto {
    width: 32%;
    font-size: 1.2rem;
    font-family: var(--fuente-titulos);
    color: #cc8800;
}
